<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload HHCAHPS Files</title>

    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="container body-content">
        <a href="http://nationalresearch.com/home/"><img src="~/Content/logo.png" alt="National Research Corporation" /></a>
        <hr />
        @using (Html.BeginForm("Index", "Upload", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <h2>Upload HHCAHPS Files</h2>
            <h3>Instructions</h3>
            <ul>
                <li>Files with .csv or .txt extensions are allowed.</li>
                <li>
                    Files must include HHCAHPS_[CCN] as part of their name. The following are examples of allowed file names.
                    <ul>
                        <li>HHCAHPS_123456_Version1.2_02122016.csv</li>
                        <li>HHCAHPS_123456_022016.csv</li>
                    </ul>
                </li>
                <li>Files may be placed in a .zip file. Each file within the .zip file must follow the above rules.</li>
                <li>
                    These are update files: Check this box if your file contains additional data for a month where the data file has been successfully processed (e.g. if you are updating missing ICD-10s). Do not check this box if you are replacing a file that was rejected.
                </li>
            </ul>
            <p>
                If you have any questions, please contact Client Services at 1-866-641-8324 or email HHCAHPSservice@nationalresearch.com.
            </p>

            <h3>Upload your files</h3>
            @RenderBody()
        }
        <hr />
        <footer>
            <p>&copy; @(DateTime.Now.Year) - National Research Corporation</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/site")

    @RenderSection("scripts", required: false)

</body>
</html>
